$icon-size: 50px;
$dark-overlay: rgba(0,0,0,7);
a:hover {
    text-decoration: none;
    text-decoration-line: none;
}
.nav-link{
    text-transform: uppercase;
}
.navbar-nav{
    margin-left: auto;
}
.nav-item{
    padding-left: 1em !important;
}
.navbar{
    background: #000;
}
.carousel-item{
    height: 530px;

}

 #Homeicon .fa{
        font-size: 50px;
    }
#start{
    background: linear-gradient(#0000003d,#000000ad),url(../img/image6.jpg); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}
#video{
    background: linear-gradient(#0000003d,#000000ad),url(../img/image4.jpg); 
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}
#video .fa{
    font-size: 50px;
}
#gallery img{
    height: 200px;
    width: 100%;
    
}
#copyright{
    background: #000;
}

/* about us */
#about{
    background: linear-gradient(#0000003d,#000000ad),url(../img/image1.jpg);
    background-size: cover;
    height: 250px;
    background-attachment: fixed;
}
#about-us p{
    text-align: justify;
}
#about-us img{
    width: 300px;
    height: 300px;
}
#icon-box .fa{
        font-size: 50px;
        margin-bottom: 20px;
    }


#testimonial .carousel-item{
    height: 250px;

}

/* services */
#Services{
    background: linear-gradient(#0000003d,#000000ad),url(../img/image9.jpg);
    background-size: cover;
    height: 250px;
    background-attachment: fixed;
}
/* blog */
#blog{
    background: linear-gradient(#0000003d,#000000ad),url(../img/image13.jpg);
    background-size: cover;
    height: 250px;
    background-attachment: fixed;
}
/* contact */
#contact{
    background: linear-gradient(#0000003d,#000000ad),url(../img/image14.jpg);
    background-size: cover;
    height: 250px;
    background-attachment: fixed;
}




@media( max-width:767px ){
    .nav-item{
    padding-left: 0em !important;
}
     .carousel-item{
            height:auto;
            width: 100%;   
        }
    #testimonial .carousel-item{
    height: 300px;
        width: 100%;

}
    
    
}
@media( max-width:480px ){
    .carousel
        h2{
            font-size: 2.5rem !important;
        
}
     .carousel-item{
            height: auto;
            width: 100%;   
        }
        #testimonial .carousel-item{
    height: 300px;
        width: 100%;

}
    #showcase h2{
        font-size: 15px;
    }
    #showcase p{
        font-size:10px;
    }
    #start p{
        font-size:15px;
    }
}